
/* css to design search bar */
.search {
    position: absolute;
    top: 40%;
    left: 10%;
    background-color: white;
    padding: 30px 0px;
    width: 70%;
    border: 6px solid navy;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    
}

.bookItems {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    
    border: none;
    outline: none;
}

.icon {
    color:navy;
    padding: 2px;
    font-size: larger;

}

.dates {
    position: absolute;
    top: 92px;
    z-index: 2;
    cursor: pointer;
}

#ad {
    color: brown;
    position: absolute;
    top: 92px;
    z-index: 1;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .search {
        position: relative;
        
        display: inline-block;
        padding: 20px;
        
    }

    .bookItems {
    padding: 10px;
}
.headerSearchInput{
    width: 100px;
}
} 