@tailwind base;
@tailwind components;
@tailwind utilities;
/* .App {
  text-align: center;
}


.title{
  font-weight: bold;
}

.nav-bar{
  
  height: 100px;
  display: flex;
  justify-content: center;
}

.nav-container{
  width: 100%;
  max-width: 1024px;
  display: flex;
  
  justify-content: space-between;
}

.navBtn{
  color: black;
  padding: 8px;
  margin: 18px;
  margin-top: 24px;
  width: 100px;
  background-color: white;
  border-radius: 7px;
  font-weight: bold;
} */
